.header-container {
  display: flex;
  width: 70%;
  height: 150px;
  flex: auto;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
}

@media (max-width: 1024px) {
  .header-container {
    width: 90%;
  }
}
