.header-container {
  display: flex;
  width: 70%;
  flex-direction: column;
}

.header-button-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-signboard-container {
  display: flex;
  height: 150px;
  flex: auto;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  cursor: pointer;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

@media (max-width: 1024px) {
  .header-container {
    width: 90%;
  }
}
