.container {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 20px;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-container {
  display: flex;
  min-width: 300px;
  min-height: 520px;
  background-color: aquamarine;
  padding: 20px;
}

.contents-container {
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.post-list-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 20px;
  margin: 20px 0;
  max-width: 90%;
  min-width: 80%;
  justify-content: center;
  align-items: center;
}

.post-list-detail-container {
  width: 100%;
  padding: 30px 24px;
  border-bottom: 1px solid rgb(217, 217, 217);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-container {
  display: flex;
  justify-content: end;
  align-items: end;
}

.write-button {
}
