.introduction-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  padding: 10px 40px 20px 40px;
  margin: 0 auto;
}

.title-container-text {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  letter-spacing: 2px;
  color: var(--text);
}

@media (max-width: 1024px) {
  .introduction-container {
    padding: 10px 30px 20px 30px;
  }

  .title-container-text {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .introduction-container {
    padding: 10px 20px 20px 20px;
  }

  .title-container-text {
    font-size: 24px;
    margin-bottom: 25px;
    letter-spacing: 1px;
  }
}

@media (max-width: 480px) {
  .introduction-container {
    padding: 10px 15px 15px 15px;
  }

  .title-container-text {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
