.stack-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 100px;
}

.stack-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}
.stack-card {
  width: 380px;
  height: 160px;
  box-sizing: border-box;
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  word-break: break-all;
}

.skill-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.skill-type-image {
  width: 50px;
  margin-right: 10px;
}

.skill-type {
  font-size: 24px;
  font-weight: 600;
  margin-right: 16px;
  line-height: 24px;
}

.skill-proficiency {
  font-size: 24px;
  color: gold;
}

.skill-description {
  font-size: 16px;
}
